---
layout: default
title: Sirish Oruganti - Home
nav-title: Home
order: 1
---

<div class="home">

	<div id="name-box" >
		<h1 style="padding-bottom:0em; margin-bottom:0em; ">Sirish Oruganti</h1>
		<h3 style="padding:0em; margin:0em; font-style:italic; ">Ph.D. Student</h2 >
    <h3 style="padding:0em; margin:0em; ">The University of Texas at Austin</h2 >
    <div>
      <ul class="contact-list" style="margin:0; padding:0;">
        <li class="inline-social">
          {% include icon-email.html email=site.email %}
        </li>
        {% if site.github_username %}
        <li class="inline-social" style="margin-left:2em; margin-right:2em; ">
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}
        {% if site.twitter_username %}
        <li class="inline-social">
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}
      </ul>
    </div>
	</div>
	 
  <div id="info-box" >
  
  	<img id="circular-frame" src="/assets/images/DSC04154.JPG" />
  	<div id="research-focus" >
  	<h4>Research Focus</h4>
  		<ul>
  			<li>Hardware Security</li> 
  			<ul>
	  			<li>Side-Channel Attack Resilient Circuits</li> 
  				<li>Acceleration of Cryptographic Primitives</li>
  			</ul>
  	</div>
  </div>

</div>
