<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <script>
      document.querySelector(".menu-icon").addEventListener("click", function() {
        var trigger = document.querySelector(".trigger");
        if(trigger.style.display === "none" || trigger.style.display === "") {
            trigger.style.display = "block";
        } else {
            trigger.style.display = "none";
        }
      });
    </script>

  </body>
  
    
</html>
